<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required #mailInput="ngModel" />
      <mat-error *ngIf="mailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="!mailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 3 characters long">
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="3" #pwInput="ngModel" />
      <mat-hint align="end">{{ pwInput.value?.length }} / 3</mat-hint>
    </mat-form-field>
    <br>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async" ></mat-spinner>
  </form>
</section>
